@model IEnumerable<x9web.Models.xball>
@{
    ViewBag.Title = "香港六合彩";
    Layout = "~/Views/Pages/Home.cshtml";
    var script_id = ViewBag.script_id;
    var page_name = ViewBag.page_name;
    var page_menu_active = ViewBag.page_menu_active;
    var page_menu = ViewBag.page_menu;
    var page_menu_url = ViewBag.page_menu_url;
    var btn_kuaisu = ViewBag.btn_kuaisu;
    var page_menu_active2 = ViewBag.page_menu_active2;
    var page_menu2 = ViewBag.page_menu2;
    var page_menu2_url = ViewBag.page_menu2_url;
    List<x9web.Models.xball> xball = x9web.Api.WebClass.auto_beilu(page_name, Model.ToList());
}
@section styles{
    <style>
        .tma-box {
            overflow: hidden;
            float: left;
            margin-bottom: 10px;
            border: #31708F;
            border-style: none solid none none;
            border-width: 1px;
        }

            .tma-box ul {
                margin: 0;
                padding: 0;
                overflow: hidden;
                border: #31708F;
                border-style: none none solid none;
                border-width: 1px;
            }

            .tma-box .title {
                background: #31708F;
                color: #FFF;
            }

                .tma-box .title li {
                    text-align: center;
                }

            .tma-box .tA {
                width: 30px;
            }

            .tma-box .tB {
                width: 110px;
                text-align: center;
            }

            .tma-box .tC {
                width: 30px;
            }

            .tma-box .tb-m .tC {
                height: 29px;
            }

            .tma-box li {
                float: left;
                list-style: none;
                margin: 5px;
            }

            .tma-box .tb-m .tB {
                padding: 4px 0 0 0;
                margin-left: 7px;
            }

            .tma-box .tb-m .tA,
            .tma-box .tb-m .tB {
                cursor: pointer;
            }

            .tma-box .tb-m:hover {
                background: #94d2ff;
            }

        .tma-menu {
            overflow: hidden;
            margin: 5px 0 10px 0;
        }

            .tma-menu ul {
                margin: 0;
                padding: 0;
            }

            .tma-menu li {
                list-style: none;
                border: #31708F;
                border-style: solid solid solid solid;
                border-width: 1px;
                float: left;
                margin-right: 5px;
            }

            .tma-menu a {
                display: block;
                padding: 5px 5px;
                text-decoration: none;
            }

                .tma-menu a:hover,
                .tma-menu a:focus {
                    background: #a3d2e9;
                }

            .tma-menu .active {
                border: #31708F;
                border-style: solid solid solid solid;
                border-width: 1px;
            }

                .tma-menu .active a,
                .tma-menu .active a:hover,
                .tma-menu .active a:focus {
                    background: #31708F;
                    color: #fff;
                }

        .tb-m input {
            width: 55px;
            margin: 0;
            margin-left: 5px;
        }

        .tma-menu-r {
            float: right;
        }

            .tma-menu-r li {
                padding: 5px 10px;
                border: #3c763d;
                color: #3c763d;
                border-style: solid solid solid solid;
                border-width: 1px;
                margin: 0;
                margin-left: 5px;
            }

        .tma-but {
            overflow: hidden;
            width: 100%;
            text-align: center;
            border: #31708F;
            border-style: solid solid solid solid;
            border-width: 1px;
            padding-right: 5px;
        }

            .tma-but .btn {
                margin: 5px 10px 5px 0;
                width: 100px;
                border-radius: 0;
            }

        .tma-box .tb-mA .tC {
            background: url(/Content/image/check.png) no-repeat center;
        }
        .tma-box .tb-mAA .tC{
            background: url(/Content/image/check2.png) no-repeat center;
        }

        .tma-box-che ul {
            border-top: 1px solid #31708F;
            width: 198px;
            overflow: hidden;
        }

        .tma-box-che li > a {
            display: block;
            text-decoration: none;
            padding: 5px;
            color: #000;
            cursor: pointer;
            font-size: 12px;
        }

        .tma-box-che li {
            border: 1px solid #9c9c9c;
            margin: 3px;
            width: 43px;
            text-align: center;
        }

            .tma-box-che li > a:hover,
            .tma-box-che li > a:focus {
                background: #94d2ff;
                color: #000;
            }

        .tma-box-che .rbg {
            background: #94d2ff;
        }

        .tma-but ul {
            margin: 0;
            margin-left: 260px;
            padding: 0;
            overflow: hidden;
        }

        .tma-but li {
            list-style: none;
            float: left;
        }

        .input-group-addon {
            font-size: 12px;
            color: #fff;
            background-color: #31708F;
            border: 1px solid #133f55;
            /*border-radius: 0;*/
        }

        .form-control {
            /*border-radius: 0;*/
            color: #000;
            border: 1px solid #133f55;
        }

        #form2 {
            margin: 0;
            padding: 0;
        }

        .tma-menu2 {
            overflow: hidden;
            border-bottom: 1px solid #3c763d;
            margin-bottom: 10px;
        }

            .tma-menu2 ul {
                margin: 0;
                padding: 0;
            }

            .tma-menu2 li {
                list-style: none;
                float: left;
                margin-right: 5px;
            }

            .tma-menu2 .active a,
            .tma-menu2 .active a:hover,
            .tma-menu2 .active a:focus {
                color: #fff;
                background: #3c763d;
                border-radius: 5px 5px 0 0;
            }

            .tma-menu2 li > a {
                padding: 5px 10px;
                color: #3c763d;
                display: block;
                text-decoration: none;
            }

                .tma-menu2 li > a:hover,
                .tma-menu2 li > a:focus {
                    background: #c7f3c8;
                }
    </style>
}
@section scripts{
    @if (page_menu_active2 == "复式")
    {
        <script src="~/Scripts/fn/lianma1_f.js" type="text/javascript"></script>
    }
    else if (page_menu_active2 == "拖头")
    {
        <script src="~/Scripts/fn/lianma1_t.js" type="text/javascript"></script>
    }
}
@using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-inline", name = "form1", id = "form1" }))
{
    <div class="tma-menu2">
        <input type="hidden" name="script_id" value="@script_id" />
        <ul>
            @{
    string[] menu2 = page_menu2.Split(',');
    string[] menu2_url = page_menu2_url.Split(',');
    for (int k = 0; k < menu2.Length; k++)
    {
        if (menu2[k] == page_menu_active2)
        {
            <li class="active"><a href="@menu2_url[k]">@menu2[k]</a></li>
        }
        else
        {
            <li><a href="@menu2_url[k]">@menu2[k]</a></li>
        }
    }
            }
        </ul>

    </div>
    <div class="tma-menu">
        <ul style="overflow:hidden;float:left">
            @{
    var page_menu_arr = page_menu.Split(',');
    var page_menu_url_arr = page_menu_url.Split(',');
    for (int j = 0; j < page_menu_arr.Length; j++)
    {
        if (page_menu_arr[j] == page_menu_active)
        {
            <li class="active"><a href="@page_menu_url_arr[j]">@page_menu_arr[j]</a></li>
        }
        else
        {
            <li><a href="@page_menu_url_arr[j]">@page_menu_arr[j]</a></li>
        }
    }
            }
        </ul>
        @{
    var tea = from q in x9web.Api.WebClass.u_tuisui
              where q.name.Trim() == page_name
              select q;
        }
        <ul class="tma-menu-r">
            <li>
                <span>
                    @page_name:@tea.First().min_e/@tea.First().danzu_e/@tea.First().max_e
                </span>
            </li>
        </ul>
        <ul class="tma-menu-r">
            <li style="margin-left:10px">
                <span style="color:#ff0000">佣金:</span>
                <span>
                    @page_name:@decimal.Parse(tea.First().yongjin.ToString()).ToString("0.###");
                </span>
            </li>
        </ul>
    </div>

    <div class="tma-box" style="border-left:1px solid #31708F">
        <ul class="title">
            <li class="tA">號碼</li>
            <li class="tB">倍率</li>
            <li class="tC">勾选</li>
        </ul>
        @{
    var i = 1;
    foreach (var mm in xball)
    {
        if (mm.color == null)
        {
            continue;
        }
        var colorname = "ball" + mm.color;
        <ul class="tb-m">
            <li class="@colorname.Trim() tA">
                <span>@mm.name.Trim()</span>
                <input name="ball" value="@mm.name.Trim()" type="hidden" />
                <input type="hidden" name="name" value="@mm.name.Trim()" />
            </li>
            <li class="tB">
                <span>@decimal.Parse(mm.tma.ToString()).ToString("0.###")</span>
                <input name="beilu" value="@decimal.Parse(mm.tma.ToString()).ToString("0.###")" type="hidden" />
            </li>
            <li class="tC">
                <input type="hidden" name="money" value="0" />
            </li>
        </ul>
        if (i % 10 == 0)
        {
            @Html.Raw("</div>");
            @Html.Raw("<div class=\"tma-box\">")
            <ul class="title">
                <li class="tA">號碼</li>
                <li class="tB">倍率</li>
                <li class="tC">勾选</li>
            </ul>
        }
        i++;
    }
        }
    </div>
    <div class="tma-but">
        <ul>
            <li style="padding-top:5px;padding-right:10px">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">下注金额</span>
                        <input style="width:80px" class="form-control" type="text" name="moneys" onkeyup="value=this.value.replace(/\D+/g,'')" />
                    </div>

                </div>
            </li>
            <li>
                <input type="text" style="display:none" />
                <button class="btn btn-primary" type="button" name="submit" id="submit">提交</button>
            </li>
            <li>
                <button class="btn btn-primary" type="button" name="reset" id="reset">清除</button>
            </li>
        </ul>
    </div>
}
@using (Html.BeginForm("", "", FormMethod.Post, new { id = "form2", name = "form2" }))
{

}
